%h1= @brewery.name

%h3 Brewers:
%ul
  - @brewery.users.each do |user|
    %li
      = link_to( user.login, user_path( user ) )
      __ roles:
      - if @brewery.admins.include?( user )
        ADMIN
      - if @brewery.brewers.include?( user )
        BREWER

%br
%br

%h3 Batches
%hr
%ul
  - @batches.each do |batch|
    %li{ :style => 'margin-bottom: 10px' }
      = "Batch ##{ batch.index }"

      %div{ :style => 'margin: 15px' }
        %b Recipe

        %div{ :style => 'margin: 15px' }
          = link_to( batch.recipe.name, recipe_path( batch.recipe ) )   
   
        - if batch.actions.any?
          %b Actions
          %div{ :style => 'margin: 15px' }
            %ul
              - batch.actions.each do |action|
                %li{ :style => 'font-size: 115%; color: green; font-weight: bold;' }= action.name

                %div{ :style => 'margin: 15px' }
                  %b Involved
                  %div{ :style => 'margin: 15px' }
                    %ul
                      - action.involvements.each do |involvement|
                        %li
                          = "#{ link_to involvement.user.login, user_path( involvement.user ) }"
                          - if involvement.role
                            = " as #{ involvement.role }"

                
                %div{ :style => 'margin: 15px' }
                  %b Timeline
                  %div{ :style => 'margin: 15px' }
                    %ul
                      - action.action_entries.each do |entry|
                        %li= "#{ entry.name } <span style='font-size: 80%'>(#{ entry.timestamp })</span>"
      %hr
%br
%br

%h3 Recipes
%ul
  - @recipes.each do |recipe|
    %li= "<b>#{ recipe.name }</b> (#{ recipe.beer_style.name })"
    

%br
%br

%h3 Styles Brewed
%ul
  - @styles.each do |style|
    %li= "<b>#{ style.name }</b> (#{ style.code })"
